<!DOCTYPE html>
<html>
<head>
  <title>Campus Change</title>
</head>
<body>
  <form action="/students/by" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="campus" placeholder="New Campus">
    <button type="submit">Submit</button>
  </form>
</body>
</html>